{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Welcome to My Website{% endblock %}

{% block body %}
    <div class="flex flex-col justify-start bg-white shadow-md rounded-lg p-6 mt-6 space-y-6">
        <h1 class="text-2xl font-bold text-emerald-500">Welcome to PHP blog!</h1>
        <p class="mb-6">Dive into a universe of ideas, experiences, and knowledge. At BlogVerse, we celebrate the art of
            storytelling, bringing together a diverse community of writers and readers. Whether you're here to share
            your unique perspective or to explore new horizons through captivating blogs, BlogVerse is the perfect place
            to ignite your passion for reading and writing.</p>

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="flex justify-start space-x-4">
                <button
                    class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    <a href="{{ path('app_login') }}">
                        Login
                    </a>
                </button>
                <button
                    class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    <a href="{{ path('app_register') }}"
                    >
                        Register
                    </a>
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
